:root {
  --vdarkpink: #d31342;
  --pinkbtnhover: #c7133e;
  --greybtnhover: #ecebeb;
  --buttonhome: #d31342;
  --pinkicon: #fea5bb;
  --darkpink: #d41443;
  --pink: #ffa5ba;
  --lightpink: #ffb8ca;
  --modalpink: #f4e6e9;
  --backgroundpink: #fff5f6;
  --white: #fff;
  --lgrey: #fafafa;
  --grey: #d9d9d9;
  --textgrey: #907e82;
  --black: #000;
  --beige: #f0d1a5;
  --mint: #c2e297;
  --modalmenucolor: #e17992;
  --bordermenue: #e18298;
  --footerborder: #e1e1e1;
  --desktop: 1200px;
  --tablet: 768px;
  --mobile: 320px;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --titan: 'Titan One';
  --shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --buttonhover: #d41342;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  color: var(--black);
}

li,
ul {
  list-style: none;
}
