@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
:root {
  --vdarkpink: #d31342;
  --pinkbtnhover: #c7133e;
  --greybtnhover: #ecebeb;
  --buttonhome: #d31342;
  --pinkicon: #fea5bb;
  --darkpink: #d41443;
  --pink: #ffa5ba;
  --lightpink: #ffb8ca;
  --modalpink: #f4e6e9;
  --backgroundpink: #fff5f6;
  --white: #fff;
  --lgrey: #fafafa;
  --grey: #d9d9d9;
  --textgrey: #907e82;
  --black: #000;
  --beige: #f0d1a5;
  --mint: #c2e297;
  --modalmenucolor: #e17992;
  --bordermenue: #e18298;
  --footerborder: #e1e1e1;
  --desktop: 1200px;
  --tablet: 768px;
  --mobile: 320px;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --titan: "Titan One";
  --shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --buttonhover: #d41342;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--black);
}

li,
ul {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding-left: 46px;
    padding-right: 46px;
  }
}
.logo {
  margin-top: 6px;
  width: 199px;
  height: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-top: 37px;
  }
}
@media (min-width: 1200px) {
  .logo {
    margin-top: 37px;
  }
}
.header-box {
  position: relative;
  background-color: var(--lightpink);
  background-image: url("../images/bigice.png"), url("../images/ellipse.png");
  background-repeat: no-repeat;
  background-position: right 0px top 94px, right 0px top 83px;
}
.header-box__text {
  font-weight: 400;
  font-style: normal;
  max-width: 218px;
  margin-top: 137px;
  color: var(--white);
  font-family: var(--titan);
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.header-box__text--item {
  font-size: 48px;
  line-height: 0.96;
  color: var(--darkpink);
}

.milk-depiction {
  display: none;
}

.nr-position {
  display: none;
}

.navi {
  display: none;
}

@-webkit-keyframes firstSlideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes firstSlideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes secondSlideInFromLeft {
  0% {
    transform: translateX(-123%);
    opacity: 0;
  }
  50% {
    transform: translateX(-123%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes secondSlideInFromLeft {
  0% {
    transform: translateX(-123%);
    opacity: 0;
  }
  50% {
    transform: translateX(-123%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes thridSlideInFromLeft {
  0% {
    transform: translateX(-265%);
    opacity: 0;
  }
  67% {
    transform: translateX(-265%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes thridSlideInFromLeft {
  0% {
    transform: translateX(-265%);
    opacity: 0;
  }
  67% {
    transform: translateX(-265%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.logo {
  -webkit-animation: 400ms cubic-bezier(0.9, 0.17, 0.83, 0.67) 0s 1 firstSlideInFromLeft;
          animation: 400ms cubic-bezier(0.9, 0.17, 0.83, 0.67) 0s 1 firstSlideInFromLeft;
}

.header-box__text {
  -webkit-animation: 800ms cubic-bezier(0.9, 0.17, 0.83, 0.67) 0s 1 secondSlideInFromLeft;
          animation: 800ms cubic-bezier(0.9, 0.17, 0.83, 0.67) 0s 1 secondSlideInFromLeft;
}

.btn-box__red,
.btn-box__white {
  -webkit-animation: 1200ms cubic-bezier(0.9, 0.17, 0.83, 0.67) 0s 1 thridSlideInFromLeft;
          animation: 1200ms cubic-bezier(0.9, 0.17, 0.83, 0.67) 0s 1 thridSlideInFromLeft;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-box {
    width: 768px;
    background-image: url("../images/bigice.png"), url("../images/girl.png"), url("../images/milk.png"), url("../images/ellipsetablet.png");
    background-size: 143px 336px, 168px 133px, 124px 126px, 324px 332px;
    background-position: right 247px top 62px, right 34px top 265px, left 34px top 250px, right 137px top 30px;
  }
  .header-box__text {
    max-width: 162px;
    margin-top: 15px;
    font-size: 22px;
    line-height: 1.15;
  }
  .header-box__text--item {
    font-size: 37px;
    line-height: 0.96;
  }
  .milk-depiction {
    display: block;
    position: absolute;
    left: 150px;
    top: 300px;
    width: 114px;
  }
  .milk-depiction__text {
    font-style: normal;
    font-size: 8px;
    line-height: 150%;
    color: var(--white);
  }
  .header-number {
    z-index: 2;
  }
  .header-number__dot {
    position: absolute;
    left: 35px;
    top: -2px;
    margin: 0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: var(--white);
  }
  .header-number__text {
    display: flex;
    flex-direction: column;
    font-family: "DM Sans";
    font-style: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: var(--white);
  }
  .header-number__text--nr {
    z-index: 2;
    font-family: var(--titan);
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--darkpink);
  }
  .header-number2 {
    margin-top: 13px;
  }
  .header-number2__dot {
    position: absolute;
    left: 35px;
    top: 13px;
    margin: 0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: var(--white);
  }
  .header-number2__text {
    display: flex;
    flex-direction: column;
    font-family: "DM Sans";
    font-style: normal;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: var(--white);
  }
  .header-number2__text--nr {
    z-index: 2;
    font-family: var(--titan);
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--darkpink);
  }
  .bg-header {
    background-color: var(--lightpink);
  }
  .nr-position {
    position: absolute;
    top: 94px;
    right: 41px;
    display: flex;
    flex-direction: column;
  }
  .nr-box {
    position: relative;
  }
  .navi {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .header-box {
    background-image: url("../images/bigice@2x.png"), url("../images/girl@2x.png"), url("../images/milk@2x.png"), url("../images/ellipsetablet.png");
    background-size: 143px 336px, 168px 133px, 124px 126px, 324px 332px;
    background-position: right 247px top 62px, right 34px top 265px, left 34px top 250px, right 137px top 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 3dppx) {
  .header-box {
    background-image: url("../images/bigice@3x.png"), url("../images/girl@3x.png"), url("../images/milk@3x.png"), url("../images/ellipsetablet.png");
    background-size: 143px 336px, 168px 133px, 124px 126px, 324px 332px;
    background-position: right 247px top 62px, right 34px top 265px, left 34px top 250px, right 137px top 30px;
  }
}
@media (min-width: 1200px) {
  .header-box {
    width: 1280px;
    height: 665px;
    background-image: url("../images/girl.png"), url("../images/milk.png"), url("../images/ellipsetablet.png");
    background-size: 293px 232px, 188px 191px, 538px 538px;
    background-position: right 109px top 433px, left 77px top 429px, right 257px top 52px;
  }
  .header-box__text {
    max-width: 277px;
    margin-top: 84px;
    margin-left: 115px;
    font-size: 38px;
    line-height: 1.14;
  }
  .header-box__text--item {
    font-size: 58px;
    line-height: 0.9;
  }
  .bigice {
    position: absolute;
    right: 450px;
    top: 108px;
  }
  .milk-depiction {
    display: block;
    position: absolute;
    left: 295px;
    top: 485px;
    width: 200px;
  }
  .milk-depiction__text {
    font-style: normal;
    font-size: 14px;
    line-height: 140%;
    color: var(--white);
  }
  .bg-header {
    background-color: var(--lightpink);
  }
  .header-number {
    z-index: 2;
  }
  .header-number__dot {
    position: absolute;
    left: 60px;
    top: -5px;
    margin: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--white);
  }
  .header-number__text {
    display: flex;
    flex-direction: column;
    font-family: "DM Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    text-align: right;
    color: var(--white);
  }
  .header-number__text--nr {
    z-index: 2;
    font-family: var(--titan);
    font-style: normal;
    font-size: 46px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--darkpink);
  }
  .header-number2 {
    margin-top: 15px;
  }
  .header-number2__dot {
    position: absolute;
    left: 60px;
    top: 12px;
    margin: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--white);
  }
  .header-number2__text {
    display: flex;
    flex-direction: column;
    font-family: "DM Sans";
    font-style: normal;
    font-size: 14px;
    line-height: 1.3;
    text-align: right;
    color: var(--white);
  }
  .header-number2__text--nr {
    z-index: 2;
    font-family: var(--titan);
    font-style: normal;
    font-size: 46px;
    line-height: 1.14;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--darkpink);
  }
  .nr-position {
    position: absolute;
    top: 94px;
    right: 34px;
    display: flex;
    flex-direction: column;
    margin-top: 74px;
  }
  .nr-box {
    position: relative;
  }
  .navi {
    position: absolute;
    top: 48px;
    left: 373px;
    display: flex;
  }
  .navi__text, .navi__text--red {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    margin-right: 35px;
    color: var(--white);
    text-decoration: none;
  }
  .navi__text--red {
    color: var(--darkpink);
  }
  .navi:last-child {
    margin-right: 0px;
  }
}
.btn-box {
  margin-top: 19px;
  padding-bottom: 160px;
  display: flex;
  align-items: center;
  text-align: center;
}
.btn-box__red, .btn-box__white {
  border-radius: 50px;
  margin-right: 8px;
  padding-left: 15.5px;
  padding-right: 15.5px;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border: 0;
  height: 24px;
  background-color: var(--darkpink);
  color: var(--white);
}
.btn-box__white {
  background-color: var(--white);
  color: var(--darkpink);
}

.button-text {
  display: none;
}

.button-buy {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-box {
    margin-top: 20px;
    padding-bottom: 160px;
  }
  .button-text {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 0px;
    margin-top: 7px;
  }
  .button-text__icon {
    position: absolute;
    top: 5.5;
    left: 5.5;
    fill: var(--darkpink);
  }
  .button-buy {
    position: absolute;
    right: 34px;
    top: 38px;
    border-radius: 50px;
    border: 0px;
    width: 160px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
  }
  .button-buy__text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: var(--darkpink);
    margin-right: 12px;
  }
}
@media (min-width: 1200px) {
  .btn-box {
    margin-top: 20px;
    margin-left: 115px;
    padding-bottom: 160px;
  }
  .btn-box__red, .btn-box__white {
    border-radius: 50px;
    margin-right: 8px;
    padding-left: 15.5px;
    padding-right: 15.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    border: 0;
    height: 40px;
    background-color: var(--darkpink);
    color: var(--white);
  }
  .btn-box__red:hover, .btn-box__white:hover {
    cursor: pointer;
    background-color: var(--pinkbtnhover);
  }
  .btn-box__white {
    background-color: var(--white);
    color: var(--darkpink);
  }
  .btn-box__white:hover {
    background-color: var(--greybtnhover);
  }
  .button-text {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 0px;
    margin-top: 20px;
    background-color: var(--white);
  }
  .button-text:hover {
    cursor: pointer;
    background-color: var(--greybtnhover);
  }
  .button-text__icon {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 8.5;
    left: 8.5;
    fill: var(--darkpink);
  }
  .button-buy {
    position: absolute;
    right: 34px;
    top: 38px;
    border-radius: 50px;
    border: 0px;
    width: 160px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
  }
  .button-buy:hover {
    cursor: pointer;
    background-color: var(--greybtnhover);
  }
  .button-buy__text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: var(--darkpink);
    margin-right: 12px;
  }
}
.products {
  padding-top: 121px;
  padding-bottom: 98px;
  text-align: center;
}
.products__list {
  text-align: center;
  padding-left: 0;
}
.products__label {
  font-family: var(--titan);
  font-size: 18px;
  line-height: 1.17;
  color: var(--pink);
  text-transform: uppercase;
  padding-bottom: 15px;
}
.products__title {
  font-family: var(--titan);
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: var(--darkpink);
  text-transform: uppercase;
  padding-bottom: 144px;
}
.products__container {
  max-width: 280px;
  margin: 0 auto;
  background-color: var(--lightpink);
  border-radius: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  margin-bottom: 130px;
}
.products__container--beige {
  background-color: var(--beige);
  margin-bottom: 129px;
}
.products__container--mint {
  background-color: var(--mint);
  margin-bottom: 0;
}
.products__container::before {
  content: "";
  position: absolute;
  top: -115px;
  background-image: url(../images/smallice.png);
  width: 249px;
  height: 252px;
  background-repeat: no-repeat;
  background-size: cover;
}
.products__container--beige::before {
  background-image: url(../images/coffee.png);
}
.products__container--mint::before {
  background-image: url(../images/shake.png);
}
.products__title-secondary {
  font-family: var(--titan);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: var(--white);
  text-transform: uppercase;
  padding-top: 161px;
}
.products__list-secondary {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}
.products__item::after {
  content: "";
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: var(--white);
}
.products__text {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  padding-left: 41px;
  padding-right: 39px;
}
.products__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: none;
  margin-bottom: 41px;
  background-color: var(--white);
  position: relative;
}
.products__icon {
  fill: var(--darkpink);
  position: absolute;
  top: 12px;
  left: 12px;
}

@media (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  .products__wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .products__label {
    font-size: 26px;
    line-height: 1.15;
  }
  .products__title {
    font-size: 48px;
    padding-bottom: 150px;
  }
  .products__container {
    max-width: 220px;
    margin-bottom: 0;
  }
  .products__container--beige {
    margin-bottom: 0;
  }
  .products__container::before {
    position: absolute;
    top: -103px;
    background-image: url(../images/smallice@2x.png);
    width: 220px;
    height: 226px;
  }
  .products__container--beige::before {
    background-image: url(../images/coffee@2x.png);
  }
  .products__container--mint::before {
    background-image: url(../images/shake@2x.png);
  }
  .products__title-secondary {
    padding-top: 152px;
    line-height: 1.13;
  }
  .products__text {
    padding-left: 11px;
    padding-right: 11px;
    line-height: 1.79;
  }
  .products__button {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1280px) {
  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }
  .products__wrap {
    gap: 29px;
  }
  .products__label {
    font-size: 30px;
    line-height: 1.13;
  }
  .products__title {
    font-size: 58px;
    padding-bottom: 259px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
  .products__container {
    max-width: 329px;
    gap: 32px;
  }
  .products__container::before {
    position: absolute;
    top: -215px;
    background-image: url(../images/smallice@3x.png);
    width: 335px;
    height: 335px;
    border-radius: 50%;
  }
  .products__container--beige::before {
    background-image: url(../images/coffee@3x.png);
  }
  .products__container--mint::before {
    background-image: url(../images/shake@3x.png);
  }
  .products__title-secondary {
    padding-top: 163px;
    font-size: 30px;
  }
  .products__text {
    padding-left: 44px;
    padding-right: 45px;
    font-size: 16px;
    line-height: 1.75;
  }
  .products__button {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: var(--backgroundpink);
  background-image: url(../images/cowmilkabout.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 80%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/cowmilkabout@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 130px;
    padding-bottom: 66px;
    background-image: none;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 125px;
    padding-bottom: 39px;
    background-image: url(../images/cowmilkabout@3x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 120%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .about {
    background-image: url(../images/cowmilkabout@3x.png);
  }
}

.about__cow {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 46px;
  width: 280px;
  height: 279px;
  background-image: url(../images/cowmilk.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__cow {
    background-image: url(../images/cowmilk@2x.png);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .about__cow {
    background-image: url(../images/cowmilk@3x.png);
  }
}
@media screen and (min-width: 768px) {
  .about__cow {
    min-width: 340px;
    height: 339px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__cow {
    min-width: 516px;
    height: 516px;
    margin: 0;
  }
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .about__container {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 30px;
  max-width: 270px;
}
@media screen and (min-width: 768px) {
  .about__content {
    padding: 50px 0px 0 17px;
    max-width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .about__content {
    padding: 51px 0px 0 74px;
    max-width: 500px;
  }
}

.about__header {
  font-family: var(--titan);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
.about__header--label {
  font-size: 18px;
  line-height: 21px;
  color: var(--pink);
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .about__header--label {
    font-size: 26px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__header--label {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}
.about__header--title {
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  color: var(--darkpink);
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .about__header--title {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .about__header--title {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 55px;
    letter-spacing: 0.06em;
  }
}

.about__description {
  font-weight: 500;
  margin-bottom: 35px;
  font-size: 12px;
  line-height: 162%;
}
@media screen and (min-width: 768px) {
  .about__description {
    font-size: 14px;
    line-height: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .about__description {
    font-size: 14px;
    line-height: 27px;
  }
}

.about__description--primary {
  color: var(--black);
}
@media screen and (min-width: 1200px) {
  .about__description--primary {
    font-size: 16px;
    line-height: 28px;
  }
}

.about__description--secondary {
  color: var(--textgrey);
}

.about__description--tablet {
  margin-bottom: 62px;
}

.about__button {
  background-color: var(--white);
  color: var(--darkpink);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: var(--cubic-bezier);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  gap: 10px;
  margin: 0;
  border: 0;
  border-radius: 22px;
  height: 44px;
  width: 176px;
  line-height: 1.3;
  font-weight: 700;
  font-size: 14px;
}
.about__button::after {
  content: "";
  width: 8px;
  height: 10px;
}
.about__button:hover, .about__button:focus {
  transition: fill 250ms var(--cubic-bezier);
  cursor: pointer;
  background-color: var(--greybtnhover);
}

.about__button-arrow {
  margin-top: 1px;
}

.advantages {
  background-color: var(--backgroundpink);
  padding-bottom: 57px;
}
.advantages__container {
  padding-left: 20px;
}
.advantages__hidden-header {
  display: none;
}
.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 38px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.advantages__list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 230px;
}
.advantages__list-header {
  font-family: var(--titan);
  font-size: 36px;
  color: var(--darkpink);
  line-height: 1.15;
}
.advantages__list-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  overflow-wrap: break-word;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .advantages {
    padding-bottom: 100px;
  }
  .advantages__container {
    padding-left: 36px;
  }
  .advantages__list {
    flex-direction: row;
    gap: 60px;
  }
  .advantages__list-item {
    gap: 0;
    width: 180px;
  }
  .advantages__list-icon {
    margin-bottom: 36px;
  }
  .advantages__list-header {
    font-size: 48px;
    margin-bottom: 13px;
  }
  .advantages__list-text {
    font-size: 14px;
    line-height: 1.74;
  }
}
@media (min-width: 1200px) {
  .advantages {
    padding-bottom: 99px;
  }
  .advantages__container {
    padding-left: 115px;
  }
  .advantages__list {
    flex-direction: row;
    gap: 30px;
  }
  .advantages__list-item {
    gap: 0;
    width: 330px;
  }
  .advantages__list-icon {
    margin-bottom: 40px;
  }
  .advantages__list-header {
    font-size: 58px;
    margin-bottom: 15px;
  }
  .advantages__list-text {
    font-size: 16px;
    line-height: 1.76;
  }
}
.customer-review {
  margin: 0 auto;
  padding: 80px 20;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}
.customer-review__list {
  list-style: none;
  padding-left: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.customer-review__item {
  flex-direction: column;
  gap: 30px;
  align-items: center;
  display: none;
}
.customer-review__item.active {
  display: flex;
}
.customer-review__text-container {
  padding: 40px 42px 25px;
  background-color: #fafafa;
  text-align: center;
  position: relative;
}
.customer-review__text-container::after {
  background-image: url(../images/review-dots.png);
  content: "";
  width: 32px;
  height: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  right: 3px;
}
.customer-review__text {
  max-width: 157px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  flex-direction: column;
  background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 29px, #e1e1e1 29px, #e1e1e1 30px);
  position: relative;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  line-height: 2.5;
  text-align: center;
  padding: 3px 5px 0px 5px;
}
.customer-review__text:before {
  background-image: url(../images/review-quote.png);
  content: "";
  z-index: -1;
  width: 54px;
  height: 40px;
  position: absolute;
  top: -10px;
  left: 4px;
}
.customer-review__person {
  flex-direction: column;
}
.customer-review__person-name {
  font-size: 14px;
  padding-top: 18px;
}
.customer-review__slide-dots {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  argin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  padding-top: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 18px;
}
.customer-review__slide-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}
.customer-review__slide-dots li svg {
  display: none;
}
.customer-review__slide-dots li.is-active svg {
  display: block;
}
.customer-review__icon {
  width: 18px;
  height: 18px;
  background-color: white;
  fill: --buttonhome;
  padding-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .customer-review {
    padding: 120px 74px;
  }
  .customer-review__text-container {
    padding: 45px 80px 34px 80px;
  }
  .customer-review__text {
    max-width: 460px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.1;
  }
  .customer-review__person-name {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .customer-review {
    padding: 120px 176px;
  }
  .customer-review__text-container {
    padding: 45px 88px 35px 88px;
  }
  .customer-review__text {
    max-width: 750px;
    padding: 3px 5px 0px 45px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
  }
  .customer-review__person-name {
    font-size: 20px;
  }
}
:root {
  --vdarkpink: #d31342;
  --pinkbtnhover: #c7133e;
  --greybtnhover: #ecebeb;
  --buttonhome: #d31342;
  --pinkicon: #fea5bb;
  --darkpink: #d41443;
  --pink: #ffa5ba;
  --lightpink: #ffb8ca;
  --modalpink: #f4e6e9;
  --backgroundpink: #fff5f6;
  --white: #fff;
  --lgrey: #fafafa;
  --grey: #d9d9d9;
  --textgrey: #907e82;
  --black: #000;
  --beige: #f0d1a5;
  --mint: #c2e297;
  --modalmenucolor: #e17992;
  --bordermenue: #e18298;
  --footerborder: #e1e1e1;
  --desktop: 1200px;
  --tablet: 768px;
  --mobile: 320px;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --titan: "Titan One";
  --shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --buttonhover: #d41342;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--black);
}

li,
ul {
  list-style: none;
}

* {
  margin: 0 0;
}

.contacts {
  padding-bottom: 113px;
  background: var(--backgroundpink);
  background: linear-gradient(0deg, rgb(255, 245, 246) 93%, rgb(255, 255, 255) 93%);
}
.contacts__header-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.contacts__list {
  padding: 43px 20px;
  max-width: 220px;
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 24px;
}
.contacts__item {
  border-bottom: 1px solid var(--footerborder);
}
.contacts__item--margin-thicc {
  margin-bottom: 25px;
}
.contacts__item--margin-slender {
  margin-bottom: 10px;
}
.contacts__shop-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  height: 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: var(--white);
  text-transform: uppercase;
}
.contacts__shop-type--cafe {
  max-width: 80px;
  background: var(--beige);
}
.contacts__shop-type--foodtruck {
  max-width: 130px;
  background: var(--mint);
}
.contacts__header {
  font-weight: 600;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: var(--black);
}
.contacts__header--hours {
  font-weight: 500;
  color: var(--pink);
}
.contacts__info {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #907E82;
}
.contacts__button-wrapper {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contacts__button {
  width: 161px;
  height: 44px;
  border: none;
  border-radius: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  text-align: center;
  cursor: pointer;
}
.contacts__button--locations {
  background: #D41342;
  color: var(--white);
}
.contacts__button--locations:hover, .contacts__button--locations:focus {
  background: #ff0040;
  color: var(--white);
  transition: var(--cubic-bezier);
}
.contacts__button--franchise {
  background: var(--white);
  color: var(--darkpink);
}
.contacts__button--franchise:hover, .contacts__button--franchise:focus {
  background: var(--greybtnhover);
  color: #D41443;
  transition: var(--cubic-bezier);
}

@media (min-width: 768px) {
  .contacts {
    padding-bottom: 158px;
    background: linear-gradient(0deg, rgb(255, 245, 246) 91%, rgb(255, 255, 255) 91%);
  }
  .contacts__wrapper {
    flex-direction: row;
  }
  .contacts__list {
    padding: 50px 31px;
  }
  .contacts__item--margin-thicc {
    margin-bottom: 30px;
  }
  .contacts__item--margin-slender {
    margin-bottom: 16px;
  }
  .contacts__shop-type {
    margin-bottom: 30px;
    height: 28px;
    border-radius: 6px;
    font-size: 16px;
  }
  .contacts__shop-type--cafe {
    max-width: 73px;
  }
  .contacts__shop-type--foodtruck {
    max-width: 138px;
  }
  .contacts__header {
    font-size: 14px;
    line-height: 186%;
  }
  .contacts__info {
    font-size: 14px;
    line-height: 183%;
  }
  .contacts__button-wrapper {
    margin-top: 81px;
    flex-direction: row;
    gap: 14.5px;
  }
  .contacts__button {
    width: 191.5px;
  }
}
@media (min-width: 1280px) {
  .contacts {
    padding-bottom: 165px;
    background-image: url(../images/contacts-pink-stains.png), linear-gradient(0deg, rgb(255, 245, 246) 88%, rgb(255, 255, 255) 88%);
    background-position-y: 22%;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1280px) and (min-device-pixel-ratio: 2), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1280px) and (min-resolution: 192dpi), (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts {
    background-image: url(../images/contacts-pink-stains.png), linear-gradient(0deg, rgb(255, 245, 246) 88%, rgb(255, 255, 255) 88%);
  }
}
@media (min-width: 1280px) {
  .contacts__wrapper {
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .contacts__list {
    padding: 51px 43px 62px 43px;
    max-width: 330px;
  }
}
@media (min-width: 1280px) {
  .contacts__item--margin-thicc {
    margin-bottom: 32px;
  }
  .contacts__item--margin-slender {
    margin-bottom: 15px;
  }
}
@media (min-width: 1280px) {
  .contacts__shop-type {
    margin-bottom: 32px;
  }
}
@media (min-width: 1280px) {
  .contacts__header {
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  .contacts__info {
    font-size: 16px;
    line-height: 186%;
  }
}
@media (min-width: 1280px) {
  .contacts__button-wrapper {
    margin-top: 86px;
    gap: 15px;
  }
}
@media (min-width: 1280px) {
  .contacts__button {
    width: 198px;
  }
}
.footer-box {
  background-color: var(--backgroundpink);
}
.footer-box h3 {
  color: var(--pink);
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.166;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.footer-box h2 {
  font-family: "Titan One";
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--darkpink);
  margin-bottom: 49.59px;
}
.footer-box__social-list {
  display: flex;
  padding: 0;
  gap: 28.24px;
}
.footer-box__social-list-container {
  display: flex;
  justify-content: end;
}
.footer-box__icon-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-box__contact, .footer-box__contact-link {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;
  text-align: right;
  margin: 46px 0 43px;
}
.footer-box__contact-link {
  color: var(--darkpink);
  text-decoration: none;
}
.footer-box hr {
  position: absolute;
  width: 100vw;
  left: 0;
  background-color: var(--footerborder);
  height: 1px;
  border: none;
}
.footer-box__all-rights {
  padding: 22px 0 25px;
  width: auto;
}
.footer-box__all-rights p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  color: var(--textgrey);
}

@media screen and (min-width: 768px) {
  .footer-box {
    background-color: var(--backgroundpink);
    padding: 0 36px;
  }
  .footer-box__wrapper {
    width: 696px;
    margin: 0 auto;
  }
  .footer-box__upper-part {
    display: flex;
    justify-content: space-between;
  }
  .footer-box h3 {
    font-size: 26px;
    line-height: 1.145;
    margin-bottom: 16px;
  }
  .footer-box h2 {
    font-size: 48px;
    line-height: 1.145;
    letter-spacing: 0.06em;
    margin-bottom: 164px;
  }
  .footer-box__social-list {
    gap: 30px;
  }
  .footer-box__icon-container {
    width: 34px;
    height: 34px;
  }
  .footer-box__contact, .footer-box__contact-link {
    font-size: 14px;
  }
  .footer-box__all-rights {
    padding: 29px 0 18px;
    display: flex;
    justify-content: center;
    gap: 4px;
  }
  .footer-box__all-rights p {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1280px) {
  .footer-box {
    background-color: var(--backgroundpink);
    padding: 0 114px 0 116px;
  }
  .footer-box__wrapper {
    width: 1050px;
  }
  .footer-box h3 {
    font-size: 30px;
    line-height: 1.145;
    margin-bottom: 15px;
  }
  .footer-box h2 {
    font-size: 58px;
    line-height: 1.145;
    margin-bottom: 97px;
  }
  .footer-box__line-break {
    display: none;
  }
  .footer-box__social-list {
    gap: 24px;
  }
  .footer-box__icon-container {
    width: 34px;
    height: 34px;
  }
  .footer-box__social-link:hover .footer-box__icon-container, .footer-box__social-link:focus .footer-box__icon-container {
    background-color: var(--buttonhover);
  }
  .footer-box__social-link:focus {
    outline: none;
  }
  .footer-box__contact, .footer-box__contact-link {
    margin-top: 50px;
    font-size: 16px;
  }
  .footer-box__all-rights {
    padding: 9px 0 10px;
    gap: 6px;
  }
}
.main__inputs {
  list-style: none;
  text-transform: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.main__inputs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

#toggle {
  display: none;
}

.hamburger {
  z-index: 100;
  position: fixed;
  top: 23px;
  right: 20px;
  width: 14px;
  height: 14px;
}
.hamburger div {
  position: relative;
  width: 18px;
  height: 1.5px;
  border-radius: 3px;
  background-color: var(--darkpink);
  margin-top: 4px;
  transition: all 0.3s ease-in-out;
}

.nav {
  z-index: 4;
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: var(--modalmenucolor);
  top: -100%;
  right: -10%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}
.nav-wrapper {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
}
.nav a {
  text-decoration: none;
  color: var(--white);
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.nav a:hover,
.nav a :focus {
  color: var(--darkpink);
}
.nav ul {
  padding: 0;
  margin: 0;
}
.nav li {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 21px;
  border-bottom: 1px solid var(--bordermenue);
}
.nav nav li:first-child {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 19px;
  padding-left: 21px;
  padding-right: 20px;
}
.nav button {
  width: 209px;
  height: 44px;
  border: none;
  background: var(--white);
  border-radius: 22px;
  border-radius: 50px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: var(--darkpink);
}
.nav button svg {
  position: relative;
  right: -24px;
  bottom: -3px;
}

#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 8px;
  background-color: var(--white);
}

#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
  background-color: var(--white);
}

#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -1.5px;
  background-color: var(--white);
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  right: 0;
  transform: scale(1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hamburger {
    position: absolute;
    top: 52px;
    right: 240px;
  }
  #toggle:checked + .hamburger {
    position: fixed;
    top: 23px;
    right: 20px;
  }
  .navbutton {
    width: 186px;
  }
}
@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}
.gallery {
  width: auto;
  max-width: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery ul {
  padding-left: 0;
}
.gallery__section {
  box-sizing: border-box;
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 40px;
  list-style: none;
  text-transform: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  border: none;
  outline: none;
  line-height: 0;
  background: linear-gradient(180deg, var(--backgroundpink) 102px, var(--white) 102px);
}
.gallery__column {
  width: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 0fr);
  grid-auto-rows: 1, 0fr;
  -moz-column-gap: 2px;
       column-gap: 2px;
  row-gap: 2px;
  padding: none;
}
.gallery__animation {
  max-width: 41px;
  border: none;
  border-radius: 6px;
  border-color: none;
}
.gallery__animation:hover,
.gallery__animation :hover {
  transform: scale(1.1);
}
.gallery__animation-2X {
  max-width: 82px;
  border: none;
  border-radius: 10px;
  border-color: none;
}
.gallery__animation-2X:hover,
.gallery__animation-2X :hover {
  transform: scale(1.1);
}
.gallery__row {
  align-items: center;
  display: grid;
  -moz-column-gap: 2px;
       column-gap: 2px;
  row-gap: 2px;
  padding: none;
  grid-auto-rows: repeat 2, 1fr;
}
.gallery__space {
  padding-bottom: 20px;
}

.lg-toolbar-next:before {
  content: "\e094";
}

.lg-toolbar-prev:before {
  content: "\e095";
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__section {
    background: linear-gradient(180deg, var(--backgroundpink) 154px, var(--white) 154px);
  }
  .gallery__column {
    -moz-column-gap: 4px;
         column-gap: 4px;
    row-gap: 4px;
  }
  .gallery__row {
    -moz-column-gap: 4px;
         column-gap: 4px;
    row-gap: 4px;
  }
  .gallery__animation {
    max-width: 88px;
    border-radius: 12px;
  }
  .gallery__animation-2X {
    max-width: 176px;
    border-radius: 20px;
  }
  .gallery__space {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__section {
    background: linear-gradient(180deg, var(--backgroundpink) 218px, var(--white) 218px);
  }
  .gallery__column {
    -moz-column-gap: 8px;
         column-gap: 8px;
    row-gap: 8px;
  }
  .gallery__row {
    -moz-column-gap: 8px;
         column-gap: 8px;
    row-gap: 8px;
  }
  .gallery__animation {
    max-width: 143px;
    border-radius: 20px;
  }
  .gallery__animation-2X {
    max-width: 286px;
    border-radius: 36px;
  }
  .gallery__space {
    padding-bottom: 80px;
  }
}
:root {
  --vdarkpink: #d31342;
  --pinkbtnhover: #c7133e;
  --greybtnhover: #ecebeb;
  --buttonhome: #d31342;
  --pinkicon: #fea5bb;
  --darkpink: #d41443;
  --pink: #ffa5ba;
  --lightpink: #ffb8ca;
  --modalpink: #f4e6e9;
  --backgroundpink: #fff5f6;
  --white: #fff;
  --lgrey: #fafafa;
  --grey: #d9d9d9;
  --textgrey: #907e82;
  --black: #000;
  --beige: #f0d1a5;
  --mint: #c2e297;
  --modalmenucolor: #e17992;
  --bordermenue: #e18298;
  --footerborder: #e1e1e1;
  --desktop: 1200px;
  --tablet: 768px;
  --mobile: 320px;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --titan: "Titan One";
  --shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --buttonhover: #d41342;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--black);
}

li,
ul {
  list-style: none;
}

.contacts-modal--is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  position: fixed;
}

.contacts-modal__loc-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 22px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70vw;
  height: 85vh;
  background-color: var(--modalmenucolor);
  border: none;
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(73, 28, 39, 0.507);
  z-index: 2;
  transform: translate(-50%, -50%);
}
.contacts-modal__header {
  position: relative;
  top: 0;
  left: 0;
  max-width: 130px;
  text-align: left;
  font-family: var(--titan);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: var(--white);
  text-transform: uppercase;
}
.contacts-modal__header--pink-style {
  color: var(--darkpink);
}
.contacts-modal__btn-close {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: none;
  fill: var(--white);
  border: none;
  border-radius: none;
  cursor: pointer;
}
.contacts-modal__btn-close--icon {
  width: 100%;
  height: 100%;
}
.contacts-modal__btn-close--icon:hover, .contacts-modal__btn-close--icon:focus {
  fill: var(--darkpink);
  transform: scale(1.2) rotate(90deg);
  transition: transform 0.2s ease-out;
}
.contacts-modal__map-wrapper {
  width: 70%;
  height: 70%;
}
.contacts-modal__map {
  width: 143%;
  height: 121%;
  border: none;
  box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.233);
  border-radius: 12px;
}

@media (min-width: 768px) {
  .contacts-modal__loc-box {
    gap: 35px;
    padding: 22px 35px;
  }
  .contacts-modal__header {
    max-width: 300px;
    font-size: 26px;
  }
  .contacts-modal__btn-close {
    right: 25px;
  }
}
@media (min-width: 1280px) {
  .contacts-modal__header {
    font-size: 32px;
  }
}/*# sourceMappingURL=main.css.map */