<section class="about" id="about">
  <div class="container">
    <p class="about__header about__header--label">Tradition and love</p>
    <h2 class="about__header about__header--title">How it's made?</h2>

    <div class="about__container">
      <div class="about__cow"></div>
      <div class="about__content">
        <p class="about__description about__description--primary">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__description about__description--secondary">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <p
          class="about__description about__description--secondary about__description--tablet"
          id="#how"
        >
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button class="about__button" type="button">
          Read more
          <svg class="about__button-arrow" width="16px" height="8px">
            <use href="./images/sprite.svg#icon-right-arrow-red"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
