<section class="advantages">
  <h2 class="advantages__hidden-header">advantages</h2>
  <ul class="advantages__list">
    <li class="advantages__list-item">
      <img
        class="advantages__list-icon"
        src="./images/advantages-icon1.png"
        width="33px"
        height="50px"
        alt="icon"
      />
      <span class="advantages__list-header">721</span>
      <p class="advantages__list-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>

    <li class="advantages__list-item">
      <img
        class="advantages__list-icon"
        src="./images/advantages-icon2.png"
        width="50px"
        height="50px"
        alt="icon"
      />
      <span class="advantages__list-header">16KG</span>
      <p class="advantages__list-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>

    <li class="advantages__list-item">
      <img
        class="advantages__list-icon"
        src="./images/advantages-icon3.png"
        width="44px"
        height="50px"
        alt="icon"
      />
      <span class="advantages__list-header">84</span>
      <p class="advantages__list-text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
