<section class="advantages">
  <ul class="advantages__list">
    <li class="advantages__list-item">
      <!-- <div> -->
      <svg width="33px" height="55px">
        <use href="./images/sprite.svg#icon-advantages1"></use>
      </svg>
      <span class="advantages__list-header">721</span>
      <p class="advantages__list-text">
        Aliquam ac dui vel dui vulputate<br />consectetur. Mauris massa.
      </p>
      <!-- </div> -->
    </li>
    <li class="advantages__list-item">
      <!-- <div> -->
      <svg width="50px" height="50px">
        <use href="./images/sprite.svg#icon-advantages2"></use>
      </svg>
      <span class="advantages__list-header">16KG</span>
      <p class="advantages__list-text">
        Aliquam ac dui vel dui vulputate<br />consectetur. Mauris massa.
      </p>
      <!-- </div> -->
    </li>
    <li class="advantages__list-item">
      <!-- <div> -->
      <svg width="44px" height="50px">
        <use href="./images/sprite.svg#icon-advantages3"></use>
      </svg>
      <span class="advantages__list-header">84</span>
      <p class="advantages__list-text">
        Aliquam ac dui vel dui vulputate<br />consectetur. Mauris massa.
      </p>
      <!-- </div> -->
    </li>
  </ul>
</section>
