<section>
    <ul>
        <li>
            <div>
                <svg>
                    <use></use>  
                </svg>
                 <span>721</span>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
        <li>
            <div>
                <svg>
                    <use></use>  
                </svg>
                 <span>16KG</span>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
       <li>
            <div>
                <svg>
                    <use></use>  
                </svg>
                 <span>16KG</span>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
    </ul>
</section>