<section class="contacts">
  <div class="container">
    <div class="contacts__wrapper">
      <a name="contacts">
        <h2 class="contacts__header-visually-hidden">contacts</h2>
      </a>
      <ul class="contacts__list">
        <li class="contacts__item--margin-thicc">
          <p class="contacts__shop-type contacts__shop-type--cafe">cafe</p>
        </li>
        <li class="contacts__item--margin-slender">
          <h3 class="contacts__header">Chicago</h3>
        </li>
        <li class="contacts__item--margin-thicc">
          <p class="contacts__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
        <li class="contacts__item contacts__item--margin-thicc"></li>
        <li class="contacts__item--margin-slender">
          <p class="contacts__header">Monday - Friday</p>
          <p class="contacts__header contacts__header--hours">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__item--margin-thicc">
          <p class="contacts__header">Saturday - Sunday</p>
          <p class="contacts__header contacts__header--hours">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts__item contacts__item--margin-thicc"></li>
        <li>
          <a class="contacts__info" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__info" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
      <ul class="contacts__list">
        <li class="contacts__item--margin-thicc">
          <p class="contacts__shop-type contacts__shop-type--foodtruck">foodtruck</p>
        </li>
        <li class="contacts__item--margin-slender">
          <h3 class="contacts__header">Los Angeles</h3>
        </li>
        <li class="contacts__item--margin-thicc">
          <p class="contacts__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
        <li class="contacts__item contacts__item--margin-thicc"></li>
        <li class="contacts__item--margin-slender">
          <p class="contacts__header">Monday - Friday</p>
          <p class="contacts__header contacts__header--hours">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__item--margin-thicc">
          <p class="contacts__header">Saturday - Sunday</p>
          <p class="contacts__header contacts__header--hours">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts__item contacts__item--margin-thicc"></li>
        <li>
          <a class="contacts__info" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__info" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
      <ul class="contacts__list">
        <li class="contacts__item--margin-thicc">
          <p class="contacts__shop-type contacts__shop-type--cafe">cafe</p>
        </li>
        <li class="contacts__item--margin-slender">
          <h3 class="contacts__header">New York</h3>
        </li>
        <li class="contacts__item--margin-thicc">
          <p class="contacts__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </li>
        <li class="contacts__item contacts__item--margin-thicc"></li>
        <li class="contacts__item--margin-slender">
          <p class="contacts__header">Monday - Friday</p>
          <p class="contacts__header contacts__header--hours">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__item--margin-thicc">
          <p class="contacts__header">Saturday - Sunday</p>
          <p class="contacts__header contacts__header--hours">08:00 AM - 16:00 PM</p>
        </li>
        <li class="contacts__item contacts__item--margin-thicc"></li>
        <li>
          <a class="contacts__info" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="contacts__info" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
      </ul>
    </div>
    <div class="contacts__button-wrapper">
      <button class="contacts__button contacts__button--locations" type="button">
        Our Locations
        <svg width="16.28px" height="8px">
          <use href="./images/sprite.svg#icon-right-arrow-white"></use>
        </svg>
      </button>
      <button class="contacts__button contacts__button--franchise" type="button">
        Franchise
        <svg width="16.28px" height="8px">
          <use href="./images/sprite.svg#icon-right-arrow-red"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
