<div class="customer-review container">
    <ul class="customer-review__list">
        <li class="customer-review__item active" data-id="1">
            <div class="customer-review__img-container">
                <img src="./images/emily.png" alt="Uśmiechnięta kobieta" srcset="./images/emily@2x.png 2x"
                    srcset="./images/emily@3x.png 3x" />
            </div>
            <div class="customer-review__text-container">
                <p class="customer-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                    nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <div class="customer-review__person">
                <p class="customer-review__person-name">Emily, Los Angeles</p>
            </div>
        </li>
        <li class="customer-review__item" data-id="2">
            <div class="customer-review__img-container">

                <img src="./images/Lily.png" alt="Kobieta w okularach" srcset="./images/Lily@2x.png 2x"
                    srcset="./images/Lily@3x.png 3x" />
            </div>
            <div class="customer-review__text-container">
                <p class="customer-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                    nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <div class="customer-review__person">
                <p class="customer-review__person-name">Olivia, Chicago</p>
            </div>
        </li>
        <li class="customer-review__item" data-id="3">
            <div class="class=" customer-review__img-container">
                <img src="./images/Jane.png" alt="Afroamerykanka" srcset="./images/Jane@2x.png 2x"
                    srcset="./images/Jane@3x.png 3x" />
            </div>
            <div class="customer-review__text-container">
                <p class="customer-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                    nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <div class="customer-review__person">
                <p class="customer-review__person-name">Sarah, New York</p>
            </div>
        </li>
    </ul>
    <ul class="customer-review__slide-dots">
        <li class="is-active" data-id="1">
            <svg class="customer-review__icon">
                <use href="./images/sprite.svg#icon-home"></use>
            </svg>
        </li>
        <li data-id="2">
            <svg class="customer-review__icon">
                <use href="./images/sprite.svg#icon-home"></use>
            </svg>
        </li>
        <li data-id="3">
            <svg class="customer-review__icon">
                <use href="./images/sprite.svg#icon-home"></use>
            </svg>
        </li>
    </ul>
</div>