<footer class="container footer-box" id="footer">
  <div class="footer-box__wrapper">
    <div class="footer-box__upper-part">
      <div>
        <h3>homemade ice cream <br class="footer-box__line-break" />made</h3>
        <h2>with <br class="footer-box__line-break" />passion</h2>
      </div>
      <div>
        <div class="footer-box__social-list-container">
          <ul class="footer-box__social-list">
            <li>
              <a
                href="https://www.github.com"
                target="_blank"
                rel="noreferrer noopener"
                class="footer-box__social-link"
              >
                <div class="footer-box__icon-container">
                  <svg width="18.82px" height="18.82px">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li>
              <a
                href="https://telegram.org/"
                target="_blank"
                rel="noreferrer noopener"
                class="footer-box__social-link"
              >
                <div class="footer-box__icon-container">
                  <svg width="19.2px" height="14.93px">
                    <use href="./images/sprite.svg#icon-telegram"></use>
                  </svg>
                </div>
              </a>
            </li>
            <li>
              <a
                href="https://www.facebook.com/"
                target="_blank"
                rel="noreferrer noopener"
                class="footer-box__social-link"
              >
                <div class="footer-box__icon-container">
                  <svg width="8.8px" height="19.2px">
                    <use href="./images/sprite.svg#icon-facebook"></use>
                  </svg>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <p class="footer-box__contact">
          Feel free to contact
          <a class="footer-box__contact-link" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
    <hr />
    <div class="footer-box__all-rights">
      <p>&#169; 2019 - IceCream.</p>
      <p>All Rights Reserved.</p>
    </div>
  </div>
</footer>
