<section id="galery" class="gallery__section">
  <div class="gallery">
    <ul id="lightgallery" class="list-unstyled row">
        <li class="item1" data-src="gallery/1.jpg" >
            <a href="">
                <img src="gallery/1.jpg" alt="Thumb-1">
                <div class="gallery__text">Press My!</div>
            </a>
        </li>
        <li class="item2" data-src="gallery/2.jpg" >
            <a href="">
                <img src="gallery/2.jpg" alt="Thumb-2">
                <div class="gallery__text">Press My!</div>
            </a>
        </li>
        <li class="item3" data-src="gallery/3.jpg" >
            <a href="">
                <img src="gallery/3.jpg" alt="Thumb-3">
                <div class="gallery__text">Press My!</div>
            </a>
        </li>
        <li class="item4" data-src="gallery/11.jpg" >
            <a href="">
                <img src="gallery/11.jpg" alt="Thumb-11">
                <div class="gallery__text">Press My!</div>
            </a>
        </li>
        <li class="item5" data-src="gallery/4.jpg" >
            <a href="">
                <img src="gallery/4.jpg" alt="Thumb-4">
                <div class="gallery__text">Press My!</div>
            </a>
        </li>
        <li class="item6" data-src="gallery/5.jpg" >
            <a href="">
                <img src="gallery/5.jpg" alt="Thumb-5">
                <div class="gallery__text">Press My!</div>
            </a>
        </li>
        <li class="item7" data-src="gallery/6.jpg"> 
            <a href="">
                <img src="gallery/6.jpg" alt="Thumb-6">
                <div class="gallery__text">Press My!</div>
            </a>
        </li>
        <li class="item8" data-src="gallery/7.jpg">
            <a href="">
                <img src="gallery/7.jpg" alt="Thumb-7">
                <div class="gallery__text">Press My!</div>
            </a>
        </li>
        <li class="item9" data-src="gallery/8.jpg" >
            <a href="">
                <img src="gallery/8.jpg" alt="Thumb-8">
                <div class="gallery__text">Press My!</div>
            </a>
        </li>
        <li class="item10" data-src="gallery/9.jpg" >
            <a href="">
                <img src="gallery/9.jpg" alt="Thumb-9">
                <div class="gallery__text">Press My!</div>
            </a>
        </li>
    </ul>
</div>
</section>