<section id="galery" class="gallery__section">
    <div class="gallery">
      <ul class="gallery__column" id="methods">
          <li id="lightgallery__1" class="gallery_img">
            <a href="gallery\1.jpg">
                <img class="gallery__animation" src="gallery\1.jpg" alt="abc" />
            </a>
          </li>
       
          <li class="gallery__row" >
              <div id="lightgallery__2" class="gallery_img">
                <a href="gallery\2.jpg">
                    <img class="gallery__animation" src="gallery\2.jpg" alt="abc" />
                </a>
              </div>
              <div id="lightgallery__3">
                <a href="gallery\3.jpg">
                    <img class="gallery__animation" src="gallery\3.jpg" alt="abc" />
                </a>
              </div>
          </li>
       
          <li class="gallery__row">
              <div id="lightgallery__11">
                <a href="gallery\11.jpg">
                  <img class="gallery__animation-2X" src="gallery\11.jpg" alt="abc" />
                </a>
              </div>
              <div id="lightgallery__4">
                <a href="gallery\4.jpg">
                    <img class="gallery__animation" src="gallery\4.jpg" alt="abc" />
                </a>
              </div>
          </li>
       
          <li class="gallery__row">
              <div id="lightgallery__5">
                <a href="gallery\5.jpg">
                    <img class="gallery__animation" src="gallery\5.jpg" alt="abc" />
                </a>
              </div>
              <div id="lightgallery__6">
                <a href="gallery\6.jpg">
                    <img class="gallery__animation" src="gallery\6.jpg" alt="abc" />
                </a>
            </div>
          </li>
       
          <li class="gallery__row" >
              <div id="lightgallery__7">
                <a href="gallery\7.jpg">
                    <img class="gallery__animation" src="gallery\7.jpg" alt="abc" />
                </a>
              </div>
              <div class="gallery__space" id="lightgallery__8">
                <a href="gallery\8.jpg">
                    <img class="gallery__animation" src="gallery\8.jpg" alt="abc" />
                </a>
              </div>
          </li>
       
          <li id="lightgallery__9">
            <a href="gallery\9.jpg">
                <img class="gallery__animation" src="gallery\9.jpg" alt="abc" />
            </a>
          </li>
      </ul>
    </div>
</section>