<section id="galery" class="gallery__section">
    <div class="gallery">
      <ul class="gallery__column">
          <li>
              <img class="gallery__animation" src="gallery\1.jpg" alt="abc" />
          </li>
       
          <li class="gallery__row">
              <div>
                  <img class="gallery__animation" src="gallery\2.jpg" alt="abc" />
              </div>
              <div>
                  <img class="gallery__animation" src="gallery\3.jpg" alt="abc" />
              </div>
          </li>
       
          <li class="gallery__row">
              <div>
                  <img class="gallery__animation-2X" src="gallery\11.jpg" alt="abc" />
              </div>
              <div>
                  <img class="gallery__animation" src="gallery\4.jpg" alt="abc" />
              </div>
          </li>
       
          <li class="gallery__row">
              <div>
                  <img class="gallery__animation" src="gallery\5.jpg" alt="abc" />
              </div>
              <div>
                  <img class="gallery__animation" src="gallery\6.jpg" alt="abc" />
            </div>
          </li>
       
          <li class="gallery__row" >
              <div>
                  <img class="gallery__animation" src="gallery\7.jpg" alt="abc" />
              </div>
              <div class="gallery__space">
                  <img class="gallery__animation" src="gallery\8.jpg" alt="abc" />
              </div>
          </li>
       
          <li>
              <img class="gallery__animation" src="gallery\9.jpg" alt="abc" />
          </li>
      </ul>
    </div>
</section>