<header class="bg-header" id="home">
  <div class="container header-box">
    <a href="./index.html"><img class="logo" src="images/logo.png" alt="logo" /></a>
    <div class="navi">
      <a href="#home" class="navi__text--red">Home</a>
      <a href="#about" class="navi__text">About us</a>
      <a href="#about" class="navi__text">How it’s made?</a>
      <a href="#products" class="navi__text">Our products</a>
      <a href="#contacts" class="navi__text">Contact</a>
    </div>
    <button class="button-buy">
      <p class="button-buy__text">Buy now</p>
      <svg width="8px" height="14px">
        <use href="./images/sprite.svg#icon-right-arrow-red"></use>
      </svg>
    </button>
    <h1 class="header-box__text">
      ice cream made with <span class="header-box__text--item">passion</span>
    </h1>
    <div class="btn-box">
      <a href="#products"><button class="btn-box__red">Products</button></a>
      <a href="#about"><button class="btn-box__white">How it’s made?</button></a>
    </div>
    <div class="milk-depiction">
      <p class="milk-depiction__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="button-text">
        <svg class="button-text__icon" width="7px" height="7px">
          <use href="./images/sprite.svg#icon-arrow2"></use>
        </svg>
      </button>
    </div>
    <div class="nr-position">
      <div class="nr-box">
        <div class="header-number__dot"></div>
        <div class="header-number">
          <p class="header-number__text"><a class="header-number__text--nr">16</a>cafes</p>
        </div>
      </div>
      <div class="nr-box">
        <div class="header-number2__dot"></div>
        <div class="header-number2">
          <p class="header-number2__text"><a class="header-number2__text--nr">23</a>food trucks</p>
        </div>
      </div>
    </div>
  </div>
</header>
