<section id="menue">

    <input id="toggle" type="checkbox"></input>
    
    <label for="toggle" class="hamburger">
      <div class="top-bun"></div>
      <div class="meat"></div>
      <div class="bottom-bun"></div>
    </label>
    
    <div class="nav">
      <div class="nav-wrapper">
        <nav>
            <ul>
                <li>
                    <button type="button" class="intro__btn" data-modal-open>Buy now</button>
                </li>
                <li>
                    <a href="/header">Home</a>
                </li>
                <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">How it’s made?</a>
                </li>
                <li>
                    <a href="#">Our products</a>
                </li>
                <li>
                    <a href="/footer">Contact</a>
                </li>
            </ul>
        </nav>
      </div>
    </div>
</section>
