<section id="menue">

    <input id="toggle" type="checkbox"></input>
    
    <label for="toggle" class="hamburger">
      <div class="top-bun"></div>
      <div class="meat"></div>
      <div class="bottom-bun"></div>
    </label>
    
    <div class="nav">
      <div class="nav-wrapper">
        <nav>
            <ul>
                <li>
                    <button type="button" class="intro__btn" data-modal-open>Buy now
                        <svg width="8px" height="14px">
                            <use href="./images/sprite.svg#icon-right-arrow-red"></use>
                        </svg>
                    </button>
                </li>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#footer">About us</a>
                </li>
                <li>
                    <a href="#about">How it’s made?</a>
                </li>
                <li>
                    <a href="#products">Our products</a>
                </li>
                <li>
                    <a href="#contacts">Contact</a>
                </li>
            </ul>
        </nav>
      </div>
    </div>
</section>
