<section class="products">
  <div class="container">
    <div>
      <a class="products__label" id="products">100% natural</a>
      <h2 class="products__title">products</h2>
    </div>
    <div class="products__wrap">
      <ul class="products__list">
        <li>
          <div class="products__container">
            <h4 class="products__title-secondary">ice cream</h4>
            <ul class="products__list-secondary">
              <li>
                <div class="products__item"></div>
              </li>
              <li>
                <div class="products__item"></div>
              </li>
              <li>
                <div class="products__item"></div>
              </li>
            </ul>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button class="products__button">
              <svg class="products__icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-arrow2"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
      <ul class="products__list">
        <li>
          <div class="products__container products__container--beige">
            <h4 class="products__title-secondary">ice coffee</h4>
            <ul class="products__list-secondary">
              <li>
                <div class="products__item"></div>
              </li>
              <li>
                <div class="products__item"></div>
              </li>
              <li>
                <div class="products__item"></div>
              </li>
            </ul>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button class="products__button">
              <svg class="products__icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-arrow2"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
      <ul class="products__list">
        <li>
          <div class="products__container products__container--mint">
            <h4 class="products__title-secondary">milkshakes</h4>
            <ul class="products__list-secondary">
              <li>
                <div class="products__item"></div>
              </li>
              <li>
                <div class="products__item"></div>
              </li>
              <li>
                <div class="products__item"></div>
              </li>
            </ul>
            <p class="products__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button class="products__button">
              <svg class="products__icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-arrow2"></use>
              </svg>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
