.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: var(--backgroundpink);
  background-image: url(../images/cowmilkabout.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 80%;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/cowmilkabout@2x.png);
  }
}
.about__cow {
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 46px;
  width: 280px;
  height: 279px;
  background-image: url(../images/cowmilk.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/cowmilk@2x.png);
  }
}
.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 30px;
}
.about__header {
  font-family: var(--titan);
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;

  &--label {
    font-size: 18px;
    line-height: 21px;
    color: var(--pink);
    margin-bottom: 15px;
  }
  &--title {
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    color: var(--darkpink);
    margin-bottom: 26px;
  }
}
.about__description {
  font-weight: 500;
  margin-bottom: 35px;
  font-size: 12px;
  line-height: 162%;
}
.about__description--primary {
  color: var(--black);
}
.about__description--secondary {
  color: var(--textgrey);
}

.button--about {
  background-color: var(--white);
  color: var(--darkpink);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: var(--cubic-bezier);
  display: flex;
  gap: 10px;
  padding: 0 37;
  margin: 0;
  border: 0;
  border-radius: 22px;
  height: 44px;
  width: 176px;
  line-height: 1.3;
  font-weight: 700;
  font-size: 16px;
  justify-content: flex-start;
  align-items: center;

  &::after {
    content: '';
    width: 8px;
    height: 10px;
  }

  &:hover,
  &:focus {
    transition: fill 250ms var(--cubic-bezier);
    cursor: pointer;
    background-color: var(--greybtnhover);
  }
}
