.btn-box {
  margin-top: 19px;
  padding-bottom: 160px;
  display: flex;
  align-items: center;
  text-align: center;
  &__red {
    border-radius: 50px;
    margin-right: 8px;
    padding-left: 15.5px;
    padding-right: 15.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    border: 0;
    height: 24px;
    background-color: var(--darkpink);
    color: var(--white);
  }
  &__white {
    @extend .btn-box__red;
    background-color: var(--white);
    color: var(--darkpink);
  }
}
.button-text {
  display: none;
}
.button-buy {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-box {
    margin-top: 20px;
    padding-bottom: 160px;
  }
  .button-text {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 0px;
    margin-top: 7px;
    background-color: var(--white);
    &__icon {
      position: absolute;
      top: 5.5;
      left: 5.5;
      fill: var(--darkpink);
    }
  }
  .button-buy {
    position: absolute;
    right: 34px;
    top: 38px;
    border-radius: 50px;
    border: 0px;
    width: 160px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    &__text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: var(--darkpink);
      margin-right: 12px;
    }
  }
}
@media (min-width: 1200px) {
  .btn-box {
    margin-top: 20px;
    margin-left: 115px;
    padding-bottom: 160px;
    &__red {
      border-radius: 50px;
      margin-right: 8px;
      padding-left: 15.5px;
      padding-right: 15.5px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.28;
      border: 0;
      height: 40px;
      background-color: var(--darkpink);
      color: var(--white);
    }
    &__red:hover {
      cursor: pointer;
      background-color: var(--pinkbtnhover);
    }
    &__white {
      @extend .btn-box__red;
      background-color: var(--white);
      color: var(--darkpink);
    }
    &__white:hover {
      background-color: var(--greybtnhover);
    }
  }
  .button-text {
    display: block;
    position: relative;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: 0px;
    margin-top: 20px;
    background-color: var(--white);
    &:hover {
      cursor: pointer;
      background-color: var(--greybtnhover);
    }
    &__icon {
      width: 10px;
      height: 10px;
      position: absolute;
      top: 8.5;
      left: 8.5;
      fill: var(--darkpink);
    }
  }
  .button-buy {
    margin-top: 38px;
    border-radius: 50px;
    border: 0px;
    width: 160px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    &:hover {
      cursor: pointer;
      background-color: var(--greybtnhover);
    }
    &__text {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      color: var(--darkpink);
      margin-right: 12px;
    }
  }
}
