@import '../variables';

// @media (min-width: 320px) {
    * {
        margin: 0 0;
    }

    .contacts {
        // margin: 86px 0px 113px 0px;
        background: linear-gradient(0deg, rgba(255, 245, 246, 1) 97%, rgba(255,255,255,1) 97%);
        // without margins: full 1473px; pink: 1433px; white: 40px
        
        &__wrapper {            
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &__list {
            padding: 43px 21px 43px 20px;
            max-width: 220px;
            background: var(--white);
            box-shadow: var(--shadow);
            border-radius: 24px;
        }

        &__item {
            border-bottom: 1px solid var(--footerborder);

            &--margin-thicc {
                margin-bottom: 25px;
            }

            &--margin-slender {
                margin-bottom: 10px;
            }
        }

        &__shop-type {
            margin-bottom: 25px;
            height: 100%;
            border-radius: 4px;
            font-weight: 500;
            font-size: 12px;
            line-height: 186%;
            letter-spacing: 0.04em;
            color: var(--white);
            text-align: center;
            text-transform: uppercase;

            &--cafe {
                max-width: 80px;
                background: var(--beige);
            }

            &--foodtruck {
                max-width: 130px;
                background: var(--mint);
            }
        }

        &__header {
            font-weight: 600;
            font-size: 12px;
            line-height: 186%;
            letter-spacing: 0.04em;
            color: var(--black);

            &--hours {
                font-weight: 500;
                color: var(--pink);
            }
        }

        &__info {
            text-decoration: none;
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: #907E82;
    
        }

        &__button-wrapper {
            margin-top: 54px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        &__button {
            width: 161px;
            height: 44px;
            padding: 0 17px 0 17px;
            border: none;
            border-radius: 22px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.313;
            text-align: center;
            cursor: pointer;

            &--locations {
                background: #D41342;
                color: var(--white);
            }

            // &--locations:hover,
            // &--locations:focus {
            //     background: #a52041;
            //     color: var(--white);
            // }

            &--franchise {
                background: var(--white);
                color: var(--darkpink);
            }

            // &--franchise:hover,
            // &--franchise:focus {
            //     background: var(--greybtnhover);
            //     color: #D41443;
            // }
        }
    }
