@import '../variables';

    * {
        margin: 0 0;
    }

    .contacts {
        padding-bottom: 113px;
        background: var(--backgroundpink);
        background: linear-gradient(0deg, rgba(255, 245, 246, 1) 93%, rgba(255,255,255,1) 93%);

        &__header-visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }

        &__wrapper {            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        &__list {
            padding: 43px 20px;
            max-width: 220px;
            background: var(--white);
            box-shadow: var(--shadow);
            border-radius: 24px;
        }

        &__item {
            border-bottom: 1px solid var(--footerborder);

            &--margin-thicc {
                margin-bottom: 25px;
            }

            &--margin-slender {
                margin-bottom: 10px;
            }
        }

        &__shop-type {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
            height: 16px;
            border-radius: 4px;
            font-weight: 500;
            font-size: 12px;
            line-height: 186%;
            letter-spacing: 0.04em;
            color: var(--white);
            text-transform: uppercase;

            &--cafe {
                max-width: 80px;
                background: var(--beige);
            }

            &--foodtruck {
                max-width: 130px;
                background: var(--mint);
            }
        }

        &__header {
            font-weight: 600;
            font-size: 12px;
            line-height: 186%;
            letter-spacing: 0.04em;
            color: var(--black);

            &--hours {
                font-weight: 500;
                color: var(--pink);
            }
        }

        &__info {
            text-decoration: none;
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: #907E82;
        }

        &__button-wrapper {
            margin-top: 54px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        &__button {
            width: 161px;
            height: 44px;   
            border: none;
            border-radius: 22px;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.313;
            text-align: center;
            cursor: pointer;

            &--locations {
                background: #D41342;
                color: var(--white);
            }

            &--locations:hover,
            &--locations:focus {
                background: #ff0040;
                color: var(--white);
                transition: var(--cubic-bezier);
            }

            &--franchise {
                background: var(--white);
                color: var(--darkpink);
            }

            &--franchise:hover,
            &--franchise:focus {
                background: var(--greybtnhover);
                color: #D41443;
                transition: var(--cubic-bezier);
            }
        }
    }

@media (min-width: 768px) {
    .contacts {
        padding-bottom: 158px;
        background: linear-gradient(0deg, rgba(255, 245, 246, 1) 91%, rgba(255,255,255,1) 91%);
        
        &__wrapper {            
            flex-direction: row;
        }
    
        &__list {
            padding: 50px 31px;
        }
    
        &__item {
    
            &--margin-thicc {
                margin-bottom: 30px;
            }
    
            &--margin-slender {
                margin-bottom: 16px;
            }
        }
    
        &__shop-type {
            margin-bottom: 30px;
            height: 28px;
            border-radius: 6px;
            font-size: 16px;
    
            &--cafe {
                max-width: 73px;
            }
    
            &--foodtruck {
                max-width: 138px;
            }
        }
    
        &__header {
            font-size: 14px;
            line-height: 186%;
        }
    
        &__info {
            font-size: 14px;
            line-height: 183%;
        }
    
        &__button-wrapper {
            margin-top: 81px;
            flex-direction: row;
            gap: 14.5px;
        }
    
        &__button {
            width: 191.5px;
        }
    }
}

@media (min-width: 1280px) {

    .contacts {
        padding-bottom: 165px;
        background-image: 
        url(../images/contacts-pink-stains.png),
        linear-gradient(0deg, rgba(255, 245, 246, 1) 88%, rgba(255,255,255,1) 88%);
        background-position-y: 22%;
        background-size: contain;
        background-repeat: no-repeat;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image:
            url(../images/contacts-pink-stains.png),
            linear-gradient(0deg, rgba(255, 245, 246, 1) 88%, rgba(255,255,255,1) 88%);
          }

        &__wrapper {            
            gap: 30px;
        }

        &__list {
            padding: 51px 43px 62px 43px;
            max-width: 330px;
        }

        &__item {

            &--margin-thicc {
                margin-bottom: 32px;
            }

            &--margin-slender {
                margin-bottom: 15px;
            }
        }

        &__shop-type {
            margin-bottom: 32px;
        }

        &__header {
            font-size: 16px;
        }

        &__info {
            font-size: 16px;
            line-height: 186%;
        }

        &__button-wrapper {
            margin-top: 86px;
            gap: 15px;
        }

        &__button {
            width: 198px;
        }
    }
}