.customer-review {
  padding: 80px 20px;
  justify-content: center;
  max-width: 100%;
  min-width: 320px;
  &__list {
    list-style: none;
  }
  &__item {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    display: none;
    &.active {
      display: flex;
    }
  }
  &__text-container {
    padding: 40px 62px 25px 62px;
    background-color: #fafafa;
    text-align: center;
    position: relative;
    &::after {
      background-image: url(../images/review-dots.png);
      content: '';
      width: 32px;
      height: 4px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -25px;
      right: 3px;
    }
  }
  &__text {
    flex-direction: column;
    background: repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 29px,
      #e1e1e1 29px,
      #e1e1e1 30px
    );
    position: relative;
    z-index: 2;
    font-size: 12px;
    line-height: 31px;
    &:before {
      background-image: url(../images/review-quote.png);
      content: '';
      z-index: -1;
      width: 54px;
      height: 40px;
      position: absolute;
      top: -10px;
      left: 15px;
    }
  }
  &__person {
    flex-direction: column;
  }
  &__person-name {
    font-size: 14px;
    padding-top: 18px;
  }
  &__slide-dots {
    padding-top: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 18px;
    li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #d9d9d9;
      cursor: pointer;
      svg {
        display: none;
      }
      &.is-active {
        svg {
          display: block;
        }
      }
    }
  }
  &__icon {
    width: 18px;
    height: 18px;
    background-color: #ffff;
    fill: --buttonhome;
    padding-bottom: 6px;
  }
}
