.customer-review {
  margin: 0 auto;
  padding: 80px 20;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  &__list {
    list-style: none;
    padding-left: 0px;
    padding-inline-start: 0px;
  }
  &__item {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    display: none;
    &.active {
      display: flex;
    }
  }
  &__text-container {
    padding: 40px 42px 25px;
    background-color: #fafafa;
    text-align: center;
    position: relative;
    &::after {
      background-image: url(../images/review-dots.png);
      content: '';
      width: 32px;
      height: 4px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -25px;
      right: 3px;
    }
  }
  &__text {
    max-width: 157px;
    margin-block-start: 0;
    margin-block-end: 0;
    flex-direction: column;
    background: repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 29px,
      #e1e1e1 29px,
      #e1e1e1 30px
    );
    position: relative;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.5;
    text-align: center;
    padding: 3px 5px 0px 5px;
    &:before {
      background-image: url(../images/review-quote.png);
      content: '';
      z-index: -1;
      width: 54px;
      height: 40px;
      position: absolute;
      top: -10px;
      left: 4px;
    }
  }
  &__person {
    flex-direction: column;
  }
  &__person-name {
    font-size: 14px;
    padding-top: 18px;
  }
  &__slide-dots {
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-top: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 18px;
    li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #d9d9d9;
      cursor: pointer;
      svg {
        display: none;
      }
      &.is-active {
        svg {
          display: block;
        }
      }
    }
  }
  &__icon {
    width: 18px;
    height: 18px;
    background-color: #ffff;
    fill: --buttonhome;
    padding-bottom: 6px;
  }
}
@media screen and (min-width: 768px) {
  .customer-review {
    padding: 120px 74px;
    &__text-container {
      padding: 45px 80px 34px 80px;
    }
    &__text {
      max-width: 460px;
      font-size: 14px;
      font-weight: 500;
      line-height: 2.1;
    }
    &__person-name {
      font-size: 16px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .customer-review {
    padding: 120px 176px;

    &__text-container {
      padding: 45px 88px 35px 88px;
    }

    &__text {
      max-width: 750px;
      padding: 3px 5px 0px 45px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.8;
    }
    &__person-name {
      font-size: 20px;
    }
  }
}
