.gallery {
    width:auto;
    max-width:auto;

    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items:center;

        & ul {
            padding-left: 0;
        }

        &__section {
                box-sizing: border-box;
                margin: 0px;
                padding-top: 40px;
                padding-bottom: 40px;
                list-style: none;
                text-transform: none;
                text-decoration: none;
                display:flex;
                flex-direction: column;
                justify-content:center;
                justify-items: center;
                align-content:center;
                align-items:center;
                border: none;
                outline: none;
                line-height:0;
                background: linear-gradient(180deg, var(--backgroundpink) 102px, var(--white) 102px);
            }
   
        &__column {
            width:auto;
            box-sizing: border-box;
            display:flex;
            justify-content: center;
            align-items:center;
            display: grid;
            grid-template-columns:
                repeat(6, 0fr);
            grid-auto-rows:(1,0fr);
            column-gap: 2px;
            row-gap: 2px;
            padding: none;
        }

       
        &__animation{
        max-width: 41px;
        border: none;
        border-radius: 6px;
        border-color: none;

        &:hover,
        :hover {
            transform: scale(1.1);
        }
        }

        &__animation-2X{
            max-width: 82px;
            border: none;
            border-radius: 10px;
            border-color: none;
            &:hover,
            :hover {
                transform: scale(1.1);
            }
        }

        &__row{
            align-items: center;
            display: grid;
            column-gap: 2px;
            row-gap: 2px;
            padding: none;
            grid-auto-rows: repeat (2,1fr);
        }
        &__space {padding-bottom: 20px;}
}

    // ============= Tablet =============
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            .gallery {
            &__section {
                background: linear-gradient(180deg, var(--backgroundpink) 154px, var(--white) 154px);
            }
            
            &__column{
                column-gap: 4px;
                row-gap: 4px;
            }
            &__row{  
                column-gap: 4px;
                row-gap: 4px;
            }

            &__animation{
                max-width: 88px;
                border-radius: 12px;
                
            }
            &__animation-2X{
                max-width: 176px;
                border-radius: 20px;
            }
            &__space {padding-bottom: 40px;}
        }
    }
    // ============= Desktop =============
        @media screen and (min-width: 1200px) {
            .gallery {
                &__section {
                background: linear-gradient(180deg, var(--backgroundpink) 218px, var(--white) 218px);
            }
            &__column{
                column-gap: 8px;
                row-gap: 8px;
            }
            &__row{  
                column-gap: 8px;
                row-gap: 8px;
            }
            &__animation{
                max-width: 143px;
                border-radius: 20px;
            }
            &__animation-2X{
                max-width: 286px;
                border-radius: 36px;
            }
            &__space {padding-bottom: 80px;}
        }
    }
    