.header-box {
  position: relative;
  background-color: var(--lightpink);
  background-image: url('../images/bigice.png'), url('../images/ellipse.png');
  background-repeat: no-repeat;
  background-position: left 117px top 94px, left 36px top 83px;

  &__text {
    font-weight: 400;
    font-style: normal;
    max-width: 218px;
    margin-top: 137px;
    color: var(--white);
    font-family: var(--titan);
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    &--item {
      font-size: 48px;
      line-height: 0.96;
      color: var(--darkpink);
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-box {
    position: relative;
    background-color: var(--lightpink);
    background-image: url('../images/bigice.png'), url('../images/ellipse.png');
    background-repeat: no-repeat;
    background-position: left 117px top 94px, left 36px top 83px;
  }
}
