.main__inputs{ 
    list-style: none;
    text-transform: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
      
}

    .main__inputs ul {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-inline-start: 0;
    }
  #toggle {
    display: none;
  }
  

   // Hamburger

  .hamburger {
    z-index: 100;
    position: fixed;
    top: 23px;
    right: 20px;
    width: 14px;
    height: 14px;

  }
  
  .hamburger div {
    position: relative;
    width: 18px;
    height: 1.5px;
    border-radius: 3px;
    background-color: #D41443;
    margin-top: 4px;
    transition: all 0.3s ease-in-out;
  }
  

 // Nav Styles

  .nav {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #e17992;
    top: -100%; 
    right: -10%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }

  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }

  nav a {
    
    text-decoration: none;

    color: #FFFFFF;
 
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;

  }

  nav a:hover {
    color: #D41443;
  }
 
  nav ul {
    padding: 0;
    margin: 0;
  }

  nav li {
    
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 21px;
    border-bottom: 1px solid #E18298;
    }
    nav li:first-child{
        text-align: center;
        padding-top: 60px;
        padding-bottom: 19px;
        padding-left: 21px;
        padding-right: 20px;
    }

    nav button{
        width: 209px;
        height: 44px;
        border: none;
        background: #FFFFFF;
        border-radius: 22px;}
  

  //Animations

  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 8px;
    background-color: #FFFFFF;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
    background-color: #FFFFFF;
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -1.5px;
    background-color: #FFFFFF;
  }
  #toggle:checked + .hamburger + .nav {
    top: 0;
    right: 0;
    transform: scale(1);
  }

      // ============= Tablet =============
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        .hamburger {
          position:absolute;
          top: 52px;
          right: 240px;
        }

        #toggle:checked + .hamburger{
          position: fixed;
          top: 23px;
          right: 20px;
        }
      }


      // ============= Desktop =============
      @media screen and (min-width: 1200px) {
       .nav {display: none;}
      }